@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
.preloader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2a3137;
  z-index: 999;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

nav {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 2.5em 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  z-index: 99;
}

nav .navInner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  max-width: 1100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  font-family: "Quicksand", sans-serif, Helvetica, Arial;
  color: white;
  font-size: 2.1em;
}

nav .logo div {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #006aff;
  -webkit-transform: translate(-5px);
          transform: translate(-5px);
}

nav .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0.5em 1em;
  font-family: "Quicksand", sans-serif, Helvetica, Arial;
  font-weight: bolder;
  border-radius: 2px;
  font-size: 16;
  text-transform: capitalize;
  cursor: pointer;
  color: #2a3137;
  background-color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .button:hover {
  background-color: #2a3137;
  color: white;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 2em 2em 0;
  height: 100vh;
  background-image: url("../img/hero.jpg");
  background-position: 60% 50%;
  background-size: cover;
}

.hero .innerHero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 60%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero img {
  width: 80%;
  max-width: 200px;
  display: none;
}

.hero .textholder {
  margin: 1em 0 0 0;
  text-align: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .textholder h1 {
  font-family: "Myriad Pro", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial;
  color: white;
  font-size: 3em;
  margin-bottom: 0;
  width: auto;
  text-transform: uppercase;
}

.hero .textholder p {
  font-family: "Quicksand", sans-serif, Helvetica, Arial;
  text-transform: capitalize;
  font-size: 1.56em;
  margin-top: 0.2em;
  color: #2a3137;
}

@media (max-width: 788px) {
  .hero .innerHero {
    width: 100%;
    padding: 0 1em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero .innerHero .textholder {
    padding-top: 3em;
  }
}

@media (max-width: 1222px) {
  .hero .textholder {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.what {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  height: auto;
  padding: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what .innerWhatHolder {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  max-width: 1000px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what .innerWhatHolder .textInnerWhat {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 1em;
}

.what .innerWhatHolder .textInnerWhat h1 {
  color: #2a3137;
  font-family: "Myriad Pro", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial;
  margin-bottom: 0;
  text-transform: capitalize;
}

.what .innerWhatHolder .textInnerWhat h2 {
  color: #45f18e;
  font-family: "Quicksand", sans-serif, Helvetica, Arial;
  margin-bottom: 0;
}

.what .innerWhatHolder .textInnerWhat p {
  text-align: left;
  color: #2a3137;
  font-family: "Quicksand", sans-serif, Helvetica, Arial;
  text-transform: capitalize;
  line-height: 1.7em;
}

.what .innerWhatHolder .textInnerWhat .button {
  background: transparent;
  padding: 0.7em 1.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #2a3137;
  font-family: "Myriad Pro", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial;
  border-radius: 2px;
  text-transform: capitalize;
  margin-top: 0.7em;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 500;
  border: 2px solid #2a3137;
}

.what .innerWhatHolder .textInnerWhat .button:hover {
  background: #2a3137;
  color: #45f18e;
}

.what .innerWhatHolder .imgInnerWhat {
  position: relative;
  width: 100%;
  max-width: 265px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1em auto;
}

.what .innerWhatHolder .imgInnerWhat img {
  width: 100%;
}

.why {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-image: url("../img/whyBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5.5em 1em;
  min-height: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why .innerWhyText {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  max-width: 1000px;
  padding-top: 1em;
  padding-left: 1em;
}

.why .innerWhyText span {
  display: inline-block;
  width: 100%;
  max-width: 300px;
}

.why .innerWhyText span img {
  width: 100%;
}

.why .innerWhyText h1 {
  color: white;
  font-family: "Myriad Pro", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial;
  text-transform: uppercase;
  margin-bottom: 0;
}

.why .innerWhyText p {
  color: white;
  font-family: "Myriad Pro", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial;
  line-height: 1.5em;
  font-size: 1.5em;
  max-width: 500px;
}

.why .iconsHolder {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  color: white;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 1em;
}

.why .iconsHolder .icon-sec {
  width: 100%;
  max-width: 95px;
  margin-right: 2em;
  margin-bottom: 0.5em;
}

.why .iconsHolder .icon-sec span {
  font-size: 1em;
  font-family: "Myriad Pro", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial;
}

.why .iconsHolder .icon-sec ion-icon {
  color: white;
  font-size: 2em;
}

.why .button {
  background: transparent;
  padding: 0.7em 1.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #006aff;
  font-family: "Myriad Pro", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial;
  border-radius: 2px;
  text-transform: capitalize;
  margin-top: 0.7em;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 500;
  border: 2px solid #006aff;
  margin-left: 0.3em;
}

.why .button:hover {
  background: #006aff;
  color: white;
}

@media (max-width: 500px) {
  .why {
    padding: 4em 0.7em;
  }
  .why .iconsHolder .icon-sec {
    max-width: none;
  }
  .why .iconsHolder .icon-sec ion-icon {
    font-size: 1.3em;
  }
}

.cardHolder {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 0;
}

.cardHolder .innerCardHolder {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  max-width: 1400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardHolder .innerCardHolder .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 300px;
  background-color: #fafafa;
  padding: 2em 1em;
  border-radius: 5px;
  margin: 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.cardHolder .innerCardHolder .card .innerCardText {
  width: 100%;
  position: relative;
}

.cardHolder .innerCardHolder .card .innerCardText h1 {
  color: #2a3137;
  font-family: "Quicksand", sans-serif, Helvetica, Arial;
}

.cardHolder .innerCardHolder .card .innerCardText p {
  color: #2a3137;
  font-family: "Quicksand", sans-serif, Helvetica, Arial;
}

.cardHolder .innerCardHolder .card .innerCardImg {
  width: 100%;
}

.cardHolder .innerCardHolder .card .innerCardImg img {
  width: 100%;
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2a3137;
  color: white;
  padding: 2em 1em 0 1em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

footer .innerFooter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1000px;
}

footer .innerFooter .innerFooterText {
  margin: 0 auto 1em auto;
}

footer .innerFooter .innerFooterText h1 {
  font-family: "Myriad Pro", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial;
  text-transform: uppercase;
  color: #d5b7ac;
}

footer .innerFooter .innerFooterText p {
  font-family: "Myriad Pro", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial;
  text-transform: uppercase;
}

footer .innerFooter .innerFooterText h2 {
  font-family: "Myriad Pro", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial;
  text-transform: uppercase;
  margin-bottom: 0;
}

footer .innerFooter .innerFooterText form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

footer .innerFooter .innerFooterText form input,
footer .innerFooter .innerFooterText form textarea {
  outline: none;
  color: #2a3137;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  margin: 1em 0;
  text-transform: capitalize;
  font-family: "Myriad Pro", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial;
  min-height: 200px;
  text-align: start;
}

footer .innerFooter .innerFooterText form #email {
  padding: 1em;
  max-width: 300px;
  min-height: auto;
  font-size: 1em;
  margin-bottom: 0.5em;
}

footer .innerFooter .innerFooterText form textarea {
  padding: 0.7em;
  resize: none;
}

footer .innerFooter .innerFooterText form button {
  outline: none;
  font-family: "Quicksand", sans-serif, Helvetica, Arial;
  font-size: 1em;
  text-transform: capitalize;
  width: 100%;
  max-width: 400px;
  padding: 0.5em 0;
  background: transparent;
  border: 2px solid #d5b7ac;
  border-radius: 5px;
  color: #d5b7ac;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

footer .innerFooter .innerFooterText form button:hover {
  color: #2a3137;
  background: #d5b7ac;
}

footer .innerFooter .innerFooterImg {
  width: 100%;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .innerFooter .innerFooterImg img {
  width: 100%;
  margin: 0 auto;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 1em 0;
  color: #d5b7ac;
  font-family: "Quicksand", sans-serif, Helvetica, Arial;
}

body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.holder {
  position: relative;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */